/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
textarea {
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MAIN CSS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Volkhov', serif;
}

a:hover {
  text-decoration: none;
}

h2.subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #fb811e;
}

h1.title {
  font-size: 40px;
  font-weight: 700;
  color: #060606;
  margin-bottom: 20px;
}

p.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #707070;
  margin-bottom: 40px;
}

button.primary_button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #fb811e;
  border-radius: 50px;
  padding: 15px 30px;
  cursor: pointer;
}

button.primary_button:hover {
  background-color: #009f4d;
}

/* HEADER */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

header nav {
  width: 100%;
  position: sticky;
  padding: 20px 0;
}

header nav * {
  color: #060606;
}

header nav .brand {
  font-size: 32px;
  font-weight: 700;
}

header nav .brand * {
  color: white;
}

header nav .brand a {
  position: relative;
}

header nav .brand i {
  font-size: 20px;
  position: absolute;
  top: -5px;
  left: 55px;
}

header nav .brand:hover * {
  text-decoration: none;
  color: #fb811e;
}

header nav .menu {
  gap: 15px;
}

header nav .menu i {
  font-size: 20px;
}

header nav .menu .fa-magnifying-glass {
  background-color: white;
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 4;
}

header nav .menu input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  width: 35px;
  height: 35px;
  position: relative;
  right: 0;
  z-index: 3;
  transition: all 0.5s;
}

header nav .menu button.search:focus-within input {
  outline: none;
  width: 200px;
  padding-left: 35px;
}

header nav .menu button.theme_changer:hover i {
  color: #fb811e;
}

header nav .menu button.hamburger_menu {
  position: relative;
}

header nav .menu .hamburger_menu_toggle {
  background-color: white;
  border-radius: 5px;
  width: 250px;
  height: 0;
  position: absolute;
  top: 40px;
  right: 0;
  transition: all 0.5s;
}

header nav .menu .hamburger_menu_toggle li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #060606;
  padding: 15px 0;
}

header nav .menu .hamburger_menu_toggle :is(a.active, a:hover) {
  text-decoration: none;
  color: #fb811e;
}

@media only screen and (min-width: 768px) {
  header nav .brand * {
    color: #fb811e;
  }

  header nav .brand:hover * {
    color: #060606;
  }
}

/* BANNER */
.banner {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-image: url(/imgs/g1.jpg);
  background-position: center;
  background-size: cover;
}

/* PRODUCTS */
.products_left {
  padding: 0 25px;
}

.products_item {
  padding: 10px;
}

.products_item .content {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px;
}

.products_item:hover .content {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.products_item .content .icon {
  width: 65px;
  height: 65px;
}

.products_item .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products_item .content a {
  font-size: 20px;
  font-weight: 700;
  color: #060606;
}

.products_item .content a:hover {
  color: #009f4d;
}

/* SERVICES */

/* QUALITY */

/* FEATURES */

/* GALLERY */

/* FEEDBACK */

/* FOOTER */