/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
textarea {
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: all 0.5s
}
p{
  margin:0;
  padding:0;
}

/* MAIN CSS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Volkhov', serif;
}

a:hover {
  text-decoration: none;
}

h2.subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #fb811e;
}

h1.title {
  font-size: 40px;
  font-weight: 700;
  color: #060606;
  margin-bottom: 20px;
}

p.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #707070;
  margin-bottom: 40px;
}

button.primary_button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #fb811e;
  border-radius: 50px;
  padding: 15px 30px;
  cursor: pointer;
}

button.primary_button:hover {
  background-color: #009f4d;
}

/* HEADER */

/* BANNER */

/* PRODUCTS */

/* SERVICES */

/* QUALITY */

/* FEATURES */
.feature-col a{
  text-decoration: none;
  color: #060606;
  transition: all .5s;
}
.feature-unit{
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  background: var(bg light);
  transition: 0.3 ease-in;
}
.feature-unit:hover{
  border: 1px solid #eee;
  transition: ease-in .3s;
  /* box-shadow: -1px 2px 12px -9px; */
  background: #fff;
}
.feature-col{
  margin-top: 30px;
}
.feature-text h4{
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
}
.feature-text h4:hover{
  transition: 0.3s ease-in-out;
  color: #009f4d;
}
.feature-text p{
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}
/* GALLERY */

/* FEEDBACK */

/* FOOTER */